* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* ----- UTILITY ----- */
.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}


/* ----- HEADER ----- */
header {
    background-color: #0084ff;
    color: white;
    margin-bottom: 50px;
}

.menu li {
    list-style-type: none;
    color: white;
    display: inline;
    display: none;
}

.menu li a {
    text-decoration: none;
    display: none;
}


.container-header {
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 20px 0;
}

.button {
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 10px 20px;
    border-radius: 25px;
    display: none;
}

/* ----- PRIMA SECTION ----- */
.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    row-gap: 20px;
}

.content-demo {
    background-color: #b9dbfe;
    border-radius: 25px;
    padding: 20px 20px 0;
    align-items: center;
    row-gap: 20px;
}

.txt h1 {
    width: 50%;
    color: #0084fd;
    font-weight: 700;
}

.txt p {
    margin-top: 20px;
    color: #567fab;
    line-height: 25px;
}

#appstore-btn {
    color: white;
    background-color: #0084fd;
    padding: 10px 40px;
    border-radius: 25px;
    text-decoration: none;
    align-self: flex-start;
}

#iphone {
    width: 50%;
    filter: saturate(0.8);
    border-radius: 15px;
}

.content-code {
    background-color: #caf0db;
    border-radius: 25px;
    padding: 20px;
    align-items: center;
    row-gap: 20px;
}

.content-code i {
    color: #54c688;
    font-size: 120px;
}

.txt-code {
    text-align: center;
}

.txt-code h1 {
    color: #5ebe81;
    font-weight: 700;
}

.txt-code p {
    margin-top: 20px;
    color: #739b81;
    line-height: 25px;
}

.content-web {
    background-color: #fed2d1;
    border-radius: 25px;
    padding: 20px;
    align-items: center;
    row-gap: 20px;
}

.content-web i {
    color: #fd898a;
    font-size: 120px;
}

.txt-web {
    text-align: center;
}

.txt-web h1 {
    color: #fb8a93;
    font-weight: 700;
}

.txt-web p {
    margin-top: 20px;
    color: #a5777a;
    line-height: 25px;
}

.content-dev {
    background-color: #ffe7c3;
    border-radius: 25px;
    padding: 20px;
    align-items: center;
    row-gap: 20px;
}

.content-dev i {
    color: #fec064;
    font-size: 120px;
}

.txt-dev {
    text-align: center;
}

.txt-dev h1 {
    color: #f7c16f;
    font-weight: 700;
}

.txt-dev p {
    margin-top: 20px;
    color: #ae936e;
    line-height: 25px;
}

.content-branding {
    background-color: #d5d4f4;
    border-radius: 25px;
    padding: 20px;
    align-items: center;
    row-gap: 20px;
}

.content-branding i {
    color: #9692e6;
    font-size: 120px;
}

.txt-branding {
    text-align: center;
}

.txt-branding h1 {
    color: #9692e6;
    font-weight: 700;
}

.txt-branding p {
    margin-top: 20px;
    color: #9f9fc4;
    line-height: 25px;
}

.freepik {
    font-size: 14px;
    color: black;
}

.freepik a {
    color: black;
}

/* ----- SECONDA SECTION ----- */
.section-large {
    background-color: #9692e6;
    margin-top: 25px;
    padding: 50px 0;
}

.img-notebook {
    width: 100%;
}

.txt-planning {
    text-align: left;
    color: white;
}

.txt-planning p {
    line-height: 25px;
    margin: 40px 0 20px;
}

.txt-planning h2 {
    color: white;
    font-size: 16px;
    font-weight: normal;
}

.txt-planning a {
    color: white;
}

.content-app-dev {
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    align-items: center;
    row-gap: 20px;
}

.content-app-dev img {
    width: 100%;
}

.content-app-dev i {
    background-color: #c4c2f3;
    padding: 18px 21px;
    border-radius: 50%;
}

/* ----- TERZA SECTION ----- */
.txt-testimonials h2 {
    font-weight: normal;
    font-size: 20px;
}

.txt-testimonials h1 {
    color: #9692e6;
}

.txt-testimonials p {
    line-height: 25px;
    margin: 20px 0;
}
.content-obama {
    background-color: #ffbfbf;
    border-radius: 25px;
    padding: 20px;
    align-items: center;
    row-gap: 20px;
}

.txt-obama h1 {
    color: #9692e6;
}

.txt-obama h2 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
}

.txt-obama p {
    line-height: 25px;
    margin: 20px 0;
}

.potrait {
    width: 50%;
    border-radius: 50%;
}

.content-margot {
    background-color: #feddaa;
    border-radius: 25px;
    padding: 20px;
    align-items: center;
    row-gap: 20px;
}
.txt-margot h2 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
}

.txt-margot p {
    line-height: 25px;
    margin: 20px 0;
}

.potrait {
    width: 50%;
    border-radius: 50%;
}

.content-bender {
    background-color: #b2e9ca;
    border-radius: 25px;
    padding: 20px;
    align-items: center;
    row-gap: 20px;
}

.txt-bender h2 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
}

.txt-bender p {
    line-height: 25px;
    margin: 20px 0;
}

.potrait {
    width: 50%;
    border-radius: 50%;
}

/* ----- QUARTA SECTION ----- */
.txt-benefit {
    color: white;
}

.content-benefit {
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    align-items: flex-start;
    row-gap: 20px;
}

.content-benefit i {
    font-size: 30px;
    color: #9692e6;
}

.content-benefit h2 {
    color: #9692e6;
}

.content-benefit p {
    text-align: left;
}

.more-btn {
    background-color: #9692e6;
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
}

/* ----- QUINTA SECTION ----- */
.txt-aboutus {
    text-align: left;
}
.txt-aboutus h1 {
    font-size: 40px;
    color: #9692e6;
}

.txt-aboutus h3 {
    font-size: 22px;
    line-height: 30px;
    color: #9692e6;
    margin-bottom: 20px;
}

.txt-aboutus p {
    line-height: 30px;
    margin: 20px 0;
}

.txt-aboutus img {
    width: 60%;
    margin: 25px;
}

.linkedin-btn {
    color: white;
    text-decoration: none;
    border-radius: 5px;
    background-color: #9692e6;
    padding: 10px 20px;
}

/* ----- SESTA SECTION ----- */
.call-to-action {
    color: white;
}

.call-to-action h3 {
    font-weight: normal;
    font-size: 20px;
    color: gray;
}

.call-to-action h2 {
    font-weight: normal;
    font-size: 28px;
    margin: 25px 0;
}

.call-to-action h1 {
    color: #ffc25d;
    font-size: 50px;
}

.call-to-action p {
    line-height: 30px;
    margin: 20px 0;
}

.get-started-btn {
    color: #9692e6;
    text-decoration: none;
    border-radius: 25px;
    background-color: white;
    padding: 10px 40px;
}

#terms {
    font-size: 12px;
}

#terms a {
    color: white;
}

/* ----- FOOTER ----- */
footer {
    background-color: #333333;
    padding: 25px 0;
    color: white;
}

footer p:first-child {
    font-size: 14px;
    margin-bottom: 50px;
}

#templates {
    font-size: 10px;
}

#templates a {
    font-size: 12px;
    color: #9692e6;
}